@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lora&family=Manrope:wght@200&display=swap');
@import url("https://use.typekit.net/vke5pwt.css");

* {
    margin: 0;
    padding: 0;
    border: none;
    color: #040f0f;
    background-color: #bfd2bf;
}

/* Header */
#logo {
    font-family: "orpheuspro", "Lora", serif;
    font-weight: 420;
    font-size: 380%;
    display: inline;
    float: left;
    margin-left: 30px;
}

#logo, #socials {
    line-height: 130px;
}

a {
    text-decoration: none;
}

#socials {
    margin-right: 30px;
}

#socials>li {
    display: inline;
    float: right;
    font-size: 150%;
    padding-right: 30px;
}

#socials>li {
    color: #495555;
}

#socials>li:hover {
    text-shadow: 1px 1px #839D9A;
}

/* Nav bar */
#nav-left {
    clear: both;
    position: fixed;
    float: left;
    width: 20%;
    margin-top: 130px;
    margin-left: 30px;
    font-family: "orpheuspro", "Lora", serif;
    font-size: 2rem;
    line-height: 60px;
}

#nav-left li {
    list-style: none;
    color: #495555;
}

#nav-left li:hover {
    font-style: italic;
}

.active {
    border-bottom: 1px solid #040f0f;
}

/* Main */
#main-window {
    position: relative;
    clear: right;
    float: right;
    margin: 200px;
    /* margin-top: 130px; */
    /* padding: 60px; */
    border: 1px solid #b6dad5;
    width: 80%;
    background-color: #bfd2bf;
    margin: 10px;
    font-family: "Karla", "Verdana", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    /* overflow-y: scroll; */
}

/* Footer */
#oh-footer {
    text-align: center;
    display: fixed;
    clear: both;
}

#oh-footer>li {
    display: inline;
    padding: 0 2%;
    line-height: 2rem;
    background-color: inherit;
    font-family: "Karla", "Verdana", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
