@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lora&family=Manrope:wght@200&display=swap');
@import url("https://use.typekit.net/vke5pwt.css");

* {
    margin: 0;
    padding: 0;
    border: none;
    color: #040f0f;
    background-color: #bfd2bf;
}

#logo {
    font-family: "orpheuspro", "Lora", serif;
    font-weight: 450;
    font-size: 380%;
    display: inline;
    float: left;
    margin-left: 30px;
}

#logo, #socials {
    line-height: 90px;
}

body {
    font-family: "Karla", "Verdana", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

#socials {
    margin-right: 30px;
}

#socials li {

    display: inline;
    float: right;
    font-size: 150%;
    padding-right: 30px;
}
#nav-left {
    clear: left;
    display: inline/block;
    margin-left: 30px;
    font-family: "orpheuspro", "Lora", serif;
    font-size: 2rem;
    line-height: 60px;
}

#nav-left li {
    list-style: none;
}

.active {
    border-bottom: 2px solid #040f0f;
}